<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="url" value="" />
    <Parameter name="username" value="" />
    <Parameter name="password" value="" />
    <!-- choose 'chrome' or 'firefox' -->
    <Parameter name="browser" value="firefox" />
    <Parameter name="incognito" value="true" />
    <Parameter name="headless" value="true" /> 
  </TestRunParameters>
</RunSettings>